*{
margin: 0;
padding: 0;
}

html, body{
    height: 100%;
    /* scrollbar-width: none; */
}

.right-pane{
    overflow: hidden;
}

.left-pane{
    overflow-y: scroll;
    scrollbar-width: none;
     background-image: linear-gradient( rgba(161,14,223,1), rgba(41,144,186,1));
}

@-moz-document url-prefix() { /* Disable scrollbar Firefox */
    html{
      scrollbar-width: none;
    }
  }
  body {
    margin: 0; /* remove default margin */
    scrollbar-width: none; /* Also needed to disable scrollbar Firefox */
    -ms-overflow-style: none;  /* Disable scrollbar IE 10+ */
    overflow-y: scroll;
  }
   
::-webkit-scrollbar { 
        display: none;  
}

.app-box{
    display:flow-root;
    margin-bottom: 2em;
    margin-top: 2em;
}

.app-box-img{
    position: relative;
    float: left;
    width: 10em;
    left: 3em;
    -webkit-box-shadow: -8px 10px 15px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: -8px 10px 15px -4px rgba(0,0,0,0.75);
    box-shadow: -8px 10px 15px -4px rgba(0,0,0,0.75);
    z-index: 10;
}
.app-box-desc{
    position: relative;
    float: right;	
    right:2em;
    padding: 2em 1em 2em 6em;
    background-color: white;
    -webkit-box-shadow: -8px 10px 15px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: -8px 10px 15px -4px rgba(0,0,0,0.75);
    box-shadow: -8px 10px 15px -4px rgba(0,0,0,0.75);
}

.app-box:hover .app-box-img{
    position: relative;
    float: right;
    left:-2em;
}

.app-box:hover .app-box-desc{
    position: relative;
    padding: 2em 6em 2em 1em;
    left: 3em;
    float: left;
}

 
.app-box-desc-text{
    color: rgb(87, 84, 84);
}

#itemTitle{
    font-family: 'Montserrat', sans-serif;
}
#itemDescription{
    font-family: 'Montserrat', sans-serif;
}

@media only screen and (max-width: 768px) {
    .app-box-img{
        position: relative;
        float: left;
        width: 10em;
        left: 3em;
        -webkit-box-shadow: -8px 10px 15px -4px rgba(0,0,0,0.75);
        -moz-box-shadow: -8px 10px 15px -4px rgba(0,0,0,0.75);
        box-shadow: -8px 10px 15px -4px rgba(0,0,0,0.75);
        z-index: 10;
    }

    .app-box-desc{
        position: relative;
        float: right;	
        right:2em;
        top:-5em;
        padding: 5em 1em 2em 2em;
        background-color: white;
        -webkit-box-shadow: -8px 10px 15px -4px rgba(0,0,0,0.75);
        -moz-box-shadow: -8px 10px 15px -4px rgba(0,0,0,0.75);
        box-shadow: -8px 10px 15px -4px rgba(0,0,0,0.75);
    }

  }